
body {


background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F_dedcXqzPdxo%2FTQDk20aSCcI%2FAAAAAAAABVg%2FdQPfG2_SH5Y%2Fs1600%2Fweird%2Bcat.jpg&f=1&nofb=1&ipt=870bc1e3d486f7fea14d5bc6d8a387a76e22dd44e8ebc1ab0116965af5a43a6a&ipo=images
  "); 
    


}
h1 {
  border-style: inset;
}
p1 {
  background-color: coral;
  border-style: inset;
  border-radius: 5px;
}
